ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(255,255,255,0) 25%, rgba(0,0,0,1) 73%);
  
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
  text-decoration: underline;
}

.navbarRight {
  float: right;
}