/* The sidebar menu */
.sidenav {
  width: 20%; /* Set the width of the sidebar */
  position: absolute;
  left: 0;
  border-right: 2px solid #7195A4;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #7195A4;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  border-top: 2px solid #7195A4;
  border-bottom: 2px solid #7195A4;
}