/* @font-face {
  font-family: Impact;
  src: url('/assets/Impact-Font/impact.ttf') format('ttf');
} */

body {
  font-family: Arial;
}

.killstreaksContainer, .weaponsContainer {
  display: flex;
  flex-wrap: wrap;
}
  

.killstreakImage, .weaponImage {
  width: 400px;
  margin-top: 10px;
}

.weapon {
  margin: 10px;
}

.weaponName {
  font-weight: bold;
}