/* @font-face {
  font-family: Impact;
  src: url('/assets/Impact-Font/impact.ttf') format('ttf');
} */

body {
  font-family: Arial;
  margin: 0;
  background-color: #110F0B;
}

.killstreaksContainer, .weaponsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 22%;
}
  

.killstreakImage, .weaponImage {
  width: 400px;
  margin-top: 10px;
}

.weapon {
  margin: 10px;
  color: #7195A4;
}

.killstreak:hover, .weapon:hover {
  cursor: pointer;
}

.weaponName {
  font-weight: bold;
}